<h1 class= 'display-4 text-dark text-center'>Editing Your List: <%= @list.name %></h1>

<%= render 'form', list: @list %>


<div class="row justify-content-center"><%= button_to "Delete list", @list, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger m-2"  %></div>

<div class="row justify-content-center"><%= link_to "Return to List", list_path(@list), class: "btn btn-outline-info m-2" %></div>

