<h1 class="text-center m-4 p-4">Welcome, <%= @user.username %>!</h1>

  <div class="row justify-content-center">
 <div class= "card border-dark mt-5 " style="width: 50rem;" >
    <div class= "card-header bg-dark text-info h3 text-center">About the Book Nook</div>
    <div class="card-content text-left m-4">
      
      <h3>Here at the Book Nook we give you a few options for searching for and adding books to the site.</h3> 
      <p>If you click on the All Books link in the nav bar, you will see a list of the books currently on the site. There are two search fields at the top.</p>
      <p>If you enter in a book title into the search bar on the left, the site will go to GoogleBooks to search for the book and bring you back the information about the book.</p>
      <p>GoogleBooks doesn't return back the exact book you're looking for? No worries! You can create your own book by clicking on the corresponding link in the nav bar!</p>
      <p>If you know the book you are looking for is on the Book Nook website (perhaps because you've written a review for it or it's on one of your reading lists),
      you can search for the book in the search bar on the right and it will bring back that book to you.</p>
      <p>You can click on links to books to see detailed information about that book and write reviews on them.</p>
      <p>Once you've made a reading list, you can start adding books to that list from the book's information page. </p>

      <p>Be sure to check out the rankings for our highest ranked books and the users with the most reviews!</p>

      <h6>Thanks for vising the Book Nook!</h6>
  
    </div>
  </div>
</div>