<h1 class= 'display-4 text-dark text-center'>Create a New Book</h1>

<%= render 'form', book: @book %>

<div class="text-center m-3"><%= link_to "All Books", books_path, class: "btn btn-outline-info m-1" %></div>